.item-card {
  width: 300px;
  margin: 20px;
}

#card-image {
  border-radius: 5px;
}

#button-plus,
#button-minus {
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

#item-number {
  margin: 0;
  height: 23px;
}

#btn-group-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
